@import url('href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Space Mono', monospace;
}

.header h1{
    font-family: 'PT Serif', serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.who-we-are {
    width: 40%;
}

.bodyContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*//Divide el estapacio en columnas */
    gap: 2rem;
    margin: 4rem 10rem;

}

.bodyContainer .member{
    max-width: 300px;
    margin: auto;
    margin-bottom: 4rem;
    cursor: pointer;
    position: relative;
}

/* nth-child(3n + 2) Representa y selecciona los elemntos 2 y 5 de las  fotografias */
.member:nth-child(3n + 2){
    margin-bottom: 0;
    margin-top: 5rem;
}
.member img{
    width: 100%;
}

